/* CSS Document */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Fonts */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
    src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('../fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* MOBILE  */


.html {
    color: white;
    font-size: 14px;
    width: 100%;
}

/* Header */

.header {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}
.header nav {
    order: 2;
    width: 100%;
    justify-content: space-around;
}
.logo, .cart{
    order: 1;
    width: 50%;
}
.logo img {
    width: 20%;
    min-width: 150px;
    padding: 10px;
}
.cart img {
    width: 2vw;
    min-width: 50px;
    padding-right: 10px;
    float: right;
}

/* Top Nav Bar */

.menu {
    display: flex;
    justify-content: center;
    order: 2;
}
.menu li {
    padding: 4%;
    list-style-type: none;
}
.menu a { 
    font-size: 1.1rem;
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    color: #e2574c;
    text-decoration: none;
}
.header a:hover {
    color: #b64036;
}

/* Banner */

.banner {
    background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), 
    url(../images/banner-girl.png) no-repeat center 60px, url(../images/flower-bkgd.jpg) no-repeat center bottom;
    background-size: cover, 40%, cover;
    justify-content: center;
}
.banner h2 {
    font-size: 1.1rem;
    font-family: 'Raleway';
    font-weight: 500;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(59, 59, 59);
    padding-top: 150px;
    margin: 0px;
}
.banner h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(59, 59, 59);
    padding: 10px 50px 130px 50px;
}

/* Hand-Crafted Styles Section */

.hand-crafted {
    width: 100%;
    min-width: 40vh;
    padding-bottom: 40px;
    text-align: center;
}
.hand-crafted h1 {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
    color: #2d2d2d;
    font-size: 2.3rem;
    padding: 50px 40px 10px 40px;
}   
.hand-crafted p {
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    color: #2d2d2d;
    padding: 25px;
    line-height: 2rem;
}
.italic {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: italic;
}

/* Container Collection */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-color: white;
}
.container div:hover {
    color: bisque;
}
.container div {
    box-sizing: border-box;
    background-size: cover;
    font-family: sans-serif;
    font-size: 1.8rem;
    color: white;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.mens {
    background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
    url(../images/mens-category.jpg) no-repeat;
    border-bottom: 3px solid white;
    width: 100vw;
    height: 50vw;

    }
.trends {
    background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
    url(../images/trends-category.jpg)no-repeat;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    width: 50vw;
    height: 50vw;
    }
.glasses {
    background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
    url(../images/glasses-category.jpg) no-repeat;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    width: 50vw;
    height: 50vw;
}
.sale {
    background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
    url(../images/sale-category.jpg) no-repeat;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    width: 50vw;
    height: 50vw;
}
.bags {
    background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
    url(../images/bags-category.jpg) no-repeat;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    text-transform: uppercase;
    width: 50vw;
    height: 50vw;
}
.womens {
    background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
    url(../images/womens-category.jpg) no-repeat;
    border-top: 3px solid white;
    width: 100vw;
    height: 50vw;
}

/* Featured Products */

.featured {
    width: 100%;
    text-align: center;
}
.featured h1 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: normal;
    color: #2d2d2d;
    font-size: 2.3rem;
    padding: 70px 40px 40px 40px;
}   
.italic {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: italic;
}

/* Carousel */

.products {
    padding-bottom: 50px;
}
.main-carousel {
    text-align: center;
}
.carousel-cell {
    width: 100%;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.products p{
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    color: #969696;
    padding: 20px 10px 10px 10px;
}
.products h3 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    color: #e2574c;
}

/* Sign Up Section */

.sign-up {
    background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
    url(../images/wave-bkgd.jpg) no-repeat bottom;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 42px;
    padding-bottom: 55px;
    overflow: auto;
}
#form {
    background-color: white;
    display: inline-block;
    padding: 4px 4px 4px 24px;
    border-radius: 30px;
    align-items: center;
}
.email-box{
    color: #969696;
    height: 24px;
    width: 180px;
    font-size: 1rem;
}
.email-box:focus {
    outline: none;
}
.subscribe-button {
    color: white;
    background-color: #e2574c;
    font-size: 1rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 20px;
    height: 40px;
    padding: 0px 24px;
}
.subscribe-button:focus {
    outline: none;
}
.sign-up h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px grey;
    padding-bottom: 10px;

}   
.sign-up p {
    font-size: 1rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 10px 30px 10px;
    line-height: 2rem; 
}
.italic {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/* Footer */

footer {
    background-color: #242424;
    color: #ffffff;
    height: auto;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
.footer-text {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 40px;
}
address {
    color: grey;    
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal; 
}
.social-media {
    padding: 20px;
}
.social-media li {
    padding: 10px;  
}
.social-media a {
    display: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    font-style: normal;
}
 .social-media li:before {
    width: 1.3em;
    padding: 6px;
}
 .social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.facebook:before {
    content: '\f39e';
    font-family: 'Font Awesome 5 Brands';
}
.twitter::before {
    content: '\f099';
    font-family: 'Font Awesome 5 Brands';
}
.instagram:before {
    content: '\f16d';
    font-family: 'Font Awesome 5 Brands';
}
.pinterest:before {
    content: '\f231';
    font-family: 'Font Awesome 5 Brands';
}
.google:before {
    content: '\f0d5';
    font-family: 'Font Awesome 5 Brands';
}

/*------------------------------ Breakpoints -----------------------------------*/

/* TABLET 600px */

@media all and (min-width: 600px) {

.html {
    color: white;
    font-size: 16px;
    width: 100%;
}

/* Header */

.header {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.logo {
    width: 36%;
}
.cart {
    width: 24%;
    justify-content: flex-end;
}
.cart img {
    padding: 0px 10px 0px 0px;
}
.header nav {
    display: flex;
    width: 40%;
    order: 1;    
}
/* Top Nav Bar */

.menu {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 0.5rem;
}
.menu li {
    padding: 10px;  
}
.menu a {
    font-size: 1rem;
}

/* Banner */

.banner {
    background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), 
    url(../images/banner-girl.png) no-repeat center 38px, url(../images/flower-bkgd.jpg) no-repeat center bottom;
    background-size: 100%, 25%;
    justify-content: center;
}

/* Hand-Crafted Styles Section */

/* Container Collection */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-color: white;
}
.container div {
    box-sizing: border-box;
    background-size: cover;
    font-family: sans-serif;
    font-size: 1.8rem;
    color: white;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.mens {
    width: 50vw;
    height: 25vw;
    border-right: 3px solid white;
}
.trends {
    width: 25vw;
    height: 25vw;
    border-top: 1px solid white;
    border-left: 3px solid white;
}
.glasses {
    width: 25vw;
    height: 25vw;
    border-top: 1px solid white;
}
.sale {
    width: 25vw;
    height: 25vw;
}
.bags {
    width: 25vw;
    height: 25vw;
    border-right: 3px solid white;
}
.womens {
    width: 50vw;
    height: 25vw;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}

/* Featured Products*/

.featured h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    padding: 60px 40px 40px 40px;
}   

/* Carousel */

.carousel-cell {
    width: 50%;
}

/* Sign Up Section */

.sign-up p {
    padding: 10px 40px 40px 40px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer-text {
    text-align: left;
    padding: 40px 0px 70px 20px;

}
address {
    color: grey;    
}
.social-media {
    padding: 40px 20px 70px 20px;
    display: block;
    flex-direction: column;
}
.social-media ul{
    display: flex;
    flex-direction: column;
}
.social-media li {
    padding: 2px;
    display: inline-flex;
}
.social-media a {
    display: flex;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
}  

/*------------------------------------------------------------------------------*/

/* DESKTOP 1240px */

@media all and (min-width: 1240px) {

/* Nav Menu */
.logo {
    width: 10%;
}
.cart {
    width: 7%;
}
.menu ul {
    padding-top: 30px;
}
.header nav {
    width: 82%;
}

/* Banner */

.banner {
    background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), 
    url(../images/banner-girl.png) no-repeat center 38px, url(../images/flower-bkgd.jpg) no-repeat center bottom;
    background-size: 100%, 24%;
    justify-content: center;
    height: 40rem;
}
.banner h2 {
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 500;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(59, 59, 59);
    padding-top: 280px;
    margin: 0px;
}
.banner h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(59, 59, 59);
    padding: 10px 50px 130px 50px;
}

/* Carousel */

.carousel-cell {
    width: 25%;
}
